.car{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
    width: calc((100% - 30px) / 4);
    
}
.item-holder{    
    display: flex;           
    flex-wrap: wrap;
    padding: 15px;
    gap: 10px;
}
.txt{
    text-align: center;
}
.car .image img{
    width: 100%;
}