.login-form {
    background-color: white;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    padding: 45px;


}

.holder {
    background-image: url("../../assets/bent.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 40px;
}

.sign {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .login-form {
        width: 90%;
    }
}