
.Img-holder{
    display: flex;
}
/* .more-img{
    display: flex;
} */
.image-container{
    width: 100%;
    display: flex;
}
.banner-image{
    /* height: 100%; */
    width: 50%;
}
.side-images{
    width: 50%;

}
/* .more-img{
    width: 100%;
} */
.banner-image img{
    width: 100%;
}
/* .more-img img{
    width: 50%;
    height: 50%;
} */

.side-images img{
    width: 50%;
    height: 50%;
}
.Des{
    padding-top: 15px;
}
.side-content-holder{
    padding: 20px;
    /* background-color: whitesmoke; */
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 0px 0px gray;
    /* padding: 20px;
    background-color: whitesmoke; */
    margin-top: 20px;
}
.Car-info{
    height: 100%;
}
.Des h6{
    color: gray;
}
.Des h3{
    font-family: system-ui;
}
/* .little{
    color: green;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
} */
 .little{
    padding: 15px 0px;
 }
.little a{
    color: green;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}